In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

# Analysis Pipeline

## Load Data

In [35]:
data = pd.read_csv("/Users/JeremyScarcella/project-group31-project/player_info.csv")

In [36]:
data

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Stará Lubovna,RW,1979-01-12 00:00:00,NaN,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,NaN,"6' 1""",185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,Pembroke Pines,D,1993-04-20 01:00:00,FL,"5' 11""",180.34,180.0,L
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,ON,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,BC,"6' 3""",190.50,220.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...
3920,8479374,Adam,Mascherin,CAN,Maple,LW,1998-06-06 01:00:00,ON,"5' 10""",177.80,205.0,L
3921,8479403,Tyler,Parsons,USA,Mt. Clemas,G,1997-09-18 01:00:00,MI,"6' 1""",185.42,185.0,L
3922,8480970,Marcus,Hogstrom,SWE,Sveg,D,1989-03-20 00:00:00,NaN,"6' 4""",193.04,200.0,L
3923,8477574,Parker,Milner,USA,Pittsburgh,G,1990-09-06 01:00:00,PA,"6' 1""",185.42,185.0,L
3924,8477352,Ryan,Fitzgerald,USA,Boca Raton,C,1994-10-19 01:00:00,FL,"5' 9""",175.26,172.0,R

In [6]:
data.dtypes

player_id               int64
firstName              object
lastName               object
nationality            object
birthCity              object
primaryPosition        object
birthDate              object
birthStateProvince     object
height                 object
height_cm             float64
weight                float64
shootsCatches          object
dtype: object

In [10]:
# Data Delimeters are already set appropriately so there is no need to change them to tab, space or any others, the data is displaying in the correct way.

In [12]:
# These are the code lines in order to view the entire data set in full
# I am not going to run it as it will take up way to much space

In [7]:
# pd.set_option('max_columns', None)
# pd.set_option('max_rows', None)

## Clean Data

In [14]:
data.shape

(3925, 12)

In [38]:
data_cleaned = data.drop(['birthCity','birthDate','birthStateProvince','height'], axis='columns')

In [39]:
data_cleaned.head(20)

,player_id,firstName,lastName,nationality,primaryPosition,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,RW,185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,D,185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,D,180.34,180.0,L
3,8466285,Brian,Campbell,CAN,D,177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,D,190.50,220.0,R
5,8474668,Dale,Weise,CAN,RW,187.96,206.0,R
6,8473512,Claude,Giroux,CAN,C,180.34,185.0,R
7,8470645,Corey,Crawford,CAN,G,187.96,216.0,L
8,8476994,Vinnie,Hinostroza,USA,LW,175.26,173.0,R
9,8475323,Marcus,Kruger,SWE,C,182.88,186.0,L
10,8473584,Andrew,MacDonald,CAN,D,185.42,204.0,L
11,8478055,Gustav,Forsling,SWE,D,182.88,186.0,L
12,8478550,Artemi,Panarin,RUS,LW,180.34,168.0,R
13,8476177,Matt,Read,CAN,RW,177.80,185.0,R
14,8473461,Steve,Mason,CAN,G,193.04,210.0,R
15,8475462,Radko,Gudas,CZE,D,182.88,204.0,R
16,8476393,Nick,Cousins,CAN,C,180.34,185.0,L
17,8479482,Michal,Kempny,CZE,D,182.88,194.0,L
18,8469547,Jordin,Tootoo,CAN,RW,175.26,195.0,R
19,8474190,Wayne,Simmonds,CAN,RW,187.96,185.0,R

In [12]:
# As far as I can tell all the data is complete that I will be using and it seems to be correct

## Process Data

In [13]:
# As of know there isnt information we decided that we needed to add to our dataset.
# This may change as we work through the project so in the future we may merge another dataset or add comumns of information.

In [42]:
data2 = data_cleaned.set_index('primaryPosition')

In [43]:
data2

,player_id,firstName,lastName,nationality,height_cm,weight,shootsCatches
primaryPosition,,,,,,,
RW,8466148,Marian,Hossa,SVK,185.42,207.0,L
D,8465058,Michal,Rozsival,CZE,185.42,210.0,R
D,8476906,Shayne,Gostisbehere,USA,180.34,180.0,L
D,8466285,Brian,Campbell,CAN,177.80,192.0,L
D,8470607,Brent,Seabrook,CAN,190.50,220.0,R
...,...,...,...,...,...,...,...
LW,8479374,Adam,Mascherin,CAN,177.80,205.0,L
G,8479403,Tyler,Parsons,USA,185.42,185.0,L
D,8480970,Marcus,Hogstrom,SWE,193.04,200.0,L
G,8477574,Parker,Milner,USA,185.42,185.0,L
C,8477352,Ryan,Fitzgerald,USA,175.26,172.0,R

In [44]:
# Changed the player postion to the index as it will make for easier data analysis

In [48]:
data2.rename(index = {"G": "Goalie",
                     "D":"Defence",
                      "RW":"Right Wing",
                      "LW":"Left Wing",
                      "C":"Center"},
                                 inplace = True)

In [49]:
data2

,player_id,firstName,lastName,nationality,height_cm,weight,shootsCatches
primaryPosition,,,,,,,
Right Wing,8466148,Marian,Hossa,SVK,185.42,207.0,L
Defence,8465058,Michal,Rozsival,CZE,185.42,210.0,R
Defence,8476906,Shayne,Gostisbehere,USA,180.34,180.0,L
Defence,8466285,Brian,Campbell,CAN,177.80,192.0,L
Defence,8470607,Brent,Seabrook,CAN,190.50,220.0,R
...,...,...,...,...,...,...,...
Left Wing,8479374,Adam,Mascherin,CAN,177.80,205.0,L
Goalie,8479403,Tyler,Parsons,USA,185.42,185.0,L
Defence,8480970,Marcus,Hogstrom,SWE,193.04,200.0,L
Goalie,8477574,Parker,Milner,USA,185.42,185.0,L
Center,8477352,Ryan,Fitzgerald,USA,175.26,172.0,R

In [50]:
# Also renamed the titles of the index player positions for an easier data analysis

## Wrangle Data

In [51]:
# At this point wrangling data will not beenfit us greatly and to some degree the dataset has seen changes such as changing the index column that can be counted as wrangling data