In [1]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv("/Users/noahandrew/school/year3/Data301/project-group31-project/player_info.csv")

In [22]:
data1 = (data.drop('height', axis=1)
         .drop('birthCity', axis=1)
         .drop('birthDate', axis=1)
         .drop('birthStateProvince', axis=1)
         .drop('primaryPosition', axis=1)
         .drop('weight', axis=1)
         .drop('height_cm', axis=1)
        )

In [23]:
data1

      player_id firstName      lastName nationality shootsCatches
0       8466148    Marian         Hossa         SVK             L
1       8465058    Michal      Rozsival         CZE             R
2       8476906    Shayne  Gostisbehere         USA             L
3       8466285     Brian      Campbell         CAN             L
4       8470607     Brent      Seabrook         CAN             R
...         ...       ...           ...         ...           ...
3920    8479374      Adam     Mascherin         CAN             L
3921    8479403     Tyler       Parsons         USA             L
3922    8480970    Marcus      Hogstrom         SWE             L
3923    8477574    Parker        Milner         USA             L
3924    8477352      Ryan    Fitzgerald         USA             R

[3925 rows x 5 columns]

In [11]:
## Step 2 - Functions

In [35]:
def load_and_process():

    df1 = (
        pd.read_csv("/Users/noahandrew/school/year3/Data301/project-group31-project/player_info.csv")
        .drop('birthCity', axis=1)
        .drop('birthDate', axis=1)
        .drop('birthStateProvince', axis=1)
        .drop('primaryPosition', axis=1)
        .drop('weight', axis=1)
        .drop('height_cm', axis=1)
        .drop('height', axis=1)
    )
    
    df2 = (
            df1
            .rename(columns={'shootsCatches': 'Shooting / Catching Hand'})
            .rename(columns={'player_id': 'Player ID'})
            .set_index('Shooting / Catching Hand')                                       
            .rename(index={'L': 'Left'})
            .rename(index={'R': 'Right'})
       
    )
    
    return df2

In [36]:
load_and_process()

                          Player ID firstName      lastName nationality
Shooting / Catching Hand
Left                        8466148    Marian         Hossa         SVK
Right                       8465058    Michal      Rozsival         CZE
Left                        8476906    Shayne  Gostisbehere         USA
Left                        8466285     Brian      Campbell         CAN
Right                       8470607     Brent      Seabrook         CAN
...                             ...       ...           ...         ...
Left                        8479374      Adam     Mascherin         CAN
Left                        8479403     Tyler       Parsons         USA
Left                        8480970    Marcus      Hogstrom         SWE
Left                        8477574    Parker        Milner         USA
Right                       8477352      Ryan    Fitzgerald         USA

[3925 rows x 4 columns]